<div {{ attributes.defaults(stimulus_controller(this.controller, {
	src: asset(this.decoratedSrc),
	hash: this.hash
})).defaults({
	class:'relative overflow-hidden'
}) }}
>
	<canvas
			{{ stimulus_target(this.controller,'placeholder') }}
			width="{{ this.width }}" height="{{ this.height }}"
			class="absolute inset-0 w-full h-full"
			title="{{ 'Loading...'|trans }}"
	></canvas>

<img
	{{ stimulus_target(this.controller,'highRes') }}
		class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-1000 ease-in-out"
{#	{{ attributes.only('class').defaults({class:'absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-1000 ease-in-out'}) }}#}
	alt="{{ alt }}"
    {% if attributes.only('width') %}{{ attributes.only('width') }}{% endif %}
    {% if attributes.only('height') %}{{ attributes.only('height') }}{% endif %}
>
	{# 3. HTML Error Overlay - zobrazí sa len pri chybe #}
	<div
			{{ stimulus_target(this.controller,'errorOverlay') }}
			class="hidden absolute inset-0 w-full h-full z-20 opacity-0 transition-opacity duration-700 ease-in-out"
	>
		{# Pozadie pre 404 (bez textu) #}
{#		<img src="{{ asset('images/error_overlay.png') }}" class="absolute inset-0 w-full h-full object-cover" alt="Image not found">#}

		{# HTML Textová vrstva #}
		<div class="absolute inset-0 flex flex-col items-center justify-center bg-black/40 text-center p-4">
			<h2 class="text-lime-400 text-6xl font-black mb-4">404</h2>
			<p class="text-white text-2xl font-bold max-w-sm tracking-tight">
				{{ '404 image not found'|trans }}
			</p>
		</div>
	</div>
</div>