{% set initialStyle = '' %}
{% if  this.height > 0 %}
	{% set initialStyle = "--img-aspect: " ~ (this.width  / this.height) ~ "; --img-width: " ~ this.width ~ "px;" %}
{% endif %}

<div {{ attributes.defaults(stimulus_controller(this.controller, {
	hash: this.hash
})).defaults({
	class:'progressive-image-container',
	style: initialStyle
}) }}
>
	<canvas
			{{ stimulus_target(this.controller,'placeholder') }}
			class="progressive-image-placeholder"
			title="{{ 'Loading...'|trans }}"
	></canvas>

	<img
			{{ stimulus_target(this.controller,'highRes') }}
			class="progressive-image-high-res"
			alt="{{ this.alt }}"
			src="{{ asset(this.decoratedSrc) }}"
			{{ attributes.only('lazy') }}
			{{ attributes.only('fetchpriority') }}
			{{ stimulus_action(this.controller, 'reveal', 'load') | stimulus_action(this.controller, 'handleError', 'error') }}
			{{ this.srcSet|raw }}
			{{ this.sizes|raw }}
	>
	{% if this.hash is null %}
		<div
				{{ stimulus_target(this.controller,'errorOverlay') }}
				class="progressive-image-error-overlay"
		>
			{% block error %}
				<div class="progressive-image-error-content">
					<div class="progressive-image-error-title">{{ "Oops! Something went wrong"|trans({},"progressive_image") }}</div>
					<p class="progressive-image-error-message">
						{{ 'This image decided to stay incognito. Maybe it’s still putting on makeup, or it just got lost in data hell.'|trans({},"progressive_image") }}
					</p>
				</div>
			{% endblock %}
		</div>
	{% endif %}
</div>